.empty-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    background-color: #FFFFFF;
    padding: 30px 30px 70px 30px;
    border-radius: 20px;
}
.empty-cart p {
    font-size: 20px;
    line-height: 29px;
    color: #44566F;
    font-family: 'Montserrat-Regular', sans-serif;
    margin: 25px 0 20px 0;
}
.back-button a {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #283350;
    padding: 11px 10px 10px 10px;
    background-color: #FBD436;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    transition: all 0.3s linear;
    min-width: 260px;
}
.back-button a:hover {
    background-color: #f3c91e;
}
.back-button a img {
    margin-right: 10px;
}
/*Checkout*/
.cart-body {
    background-color: #FFFFFF;
    padding: 35px 60px;
    border-radius: 20px;
}
.custom-row {
    margin: 0 -25px;
    max-height: calc(100vh - 165px);
    overflow-y: auto;
}
.custom-row .col-lg-6 {
    padding: 0 25px;
}
.cart-left h2,.checkout-header h2 {
    font-size: 20px;
    line-height: 18px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #3B4148;
    margin-bottom: 15px;
    position: relative;
}
a.back-to-restaurant{
    position: relative;
    top: 0;
    left: -25px;
    width: 15px;
    height: 15px;
    z-index: 999;
}
.change-location .modal-header h2:before,
.cart-left a:before {
    position: absolute;
    top: 3px;
    left: 5px;
    content: '';
    border: solid #44566F;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    cursor: pointer;
}
.change-location .modal-header h2:before {
    top: calc(50% - 6px);
    left: -20px;
}
.toggle-section {
    border: 1px solid #C6CAD9;
    display: flex;
    display: -webkit-flex;
    margin-bottom: 20px;
    width: max-content;
    border-radius: 8px;
    overflow: hidden;
}
.payment-item.delivery-item {
    border: none;
    margin-bottom: 0;
    padding: 0 10px;
    position: relative;
}

/* .toggle-item [type="radio"]:checked + label,
.toggle-item [type="radio"]:not(:checked) + label,
.toggle-item label {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #283350;
    padding: 7px 20px 6px 55px;
    margin-bottom: 0;
    width: max-content;
    cursor: pointer;
    position: relative;
}
.toggle-item label span {
    font-size: 11px;
    line-height: 16px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #71778B;
}
.toggle-item [type="radio"]:checked + label.store-pick:before,
.toggle-item [type="radio"]:checked + label.delivery:before,
.toggle-item label.store-pick:before,
.toggle-item label.delivery:before {
    position: absolute;
    content: url("../images/delivery-icon.svg");
    top: calc(50% - 8px);
    left: 20px;
}
.toggle-item [type="radio"]:checked + label.delivery:before {
    content: url("../images/act_delivery_icon.svg");
}
.toggle-item label.store-pick:before {
    content: url("../images/store_pickup.svg");
}
.toggle-item [type="radio"]:checked + label.store-pick:before {
    content: url("../images/act_store_pickup.svg");
}
.toggle-item [type="radio"]:checked + label span {
    color: #FFFFFF;
}
.toggle-item [type="radio"]:checked + label {
    background-color: #457CD6;
    color: #FFFFFF;
}
.toggle-item input[type=radio] {
    display: none;
} */
.cart-left-content {
    border: 2px solid #F2F4FA;
    border-radius: 20px;
}
.cart-details {
    background-color: #FAFBFD;
    padding: 15px 40px 5px 40px;
    border-radius: 20px 20px 0 0;
}
.personal-cart-detail{
    padding: 30px 20px 5px;
}
.personal-offer-detail,.personal-desclaimer-detail{
    padding: 25px 20px 20px!important;
}
.cart-left-content h3 {
    font-size: 16px;
    line-height: 18px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #4F83D8;
    margin-bottom: 5px;
}
.cart-left-content .cart-details-header p {
    font-size: 14px;
    line-height: 16px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #44566F;
    margin-bottom: 10px;
}

/* .toggle-item [type="radio"]:checked + label:before,
.toggle-item [type="radio"]:not(:checked) + label:before {
    background-color: transparent;
    border: none;
}
.toggle-item [type="radio"]:checked + label:after {
    display: none;
} */
.preferred-time {
    background-color: #ffffff;
    max-width: 294px;
    position: relative;
    margin-bottom: 25px;
}
.preferred-time p {
    font-size: 14px;
    line-height: 16px;
    color: #3B4148;
    padding: 10px 15px;
    font-family: 'Montserrat-Regular', sans-serif;
    position: relative;
    margin-bottom: 0;
    border-radius: 6px;
    border: 1px solid #C0C6D9;
}
.preferred-time p:after {
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    right: 17px;
    content: "";
    border: solid #909AB9;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    transition: all .5s;
}
.preferred-time.open p:after {
    transform: rotate(-135deg);
    top: 15px;
}
.time-list-outer {
    -webkit-transition: max-height 0.6s ease;
    transition: max-height 0.6s ease;
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    max-width: 300px;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}
.preferred-time.open .time-list-outer{
    max-height: 100vh;
    box-shadow: 3px 3px 6px #0000001A;
}
.time-list-inner {
    border: 1px solid #C0C6D9;
    box-shadow: 3px 3px 6px #0000001A;
    border-radius: 6px;
    padding: 5px 10px 5px 15px;
}
.time-list {
    display: flex;
    display: -webkit-flex;
    max-height: 250px;
    overflow: auto;
}
.time-list li {
    width: 100%;
}
.time-item [type="radio"]:checked + label,
.time-item [type="radio"]:not(:checked) + label {
    font-size: 14px;
    line-height: 16px;
    color: #3B4148;
    font-family: 'Montserrat-Regular', sans-serif;
    margin-bottom: 10px;
    width: 100%;
}

/*Add button*/
.new-counter.quantity-block {
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0A83EA;
    border-radius: 24px;
    margin: 0 10px;
}
.new-counter .new-up {
    float: none;
    position: unset;
    padding: 0;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-right: 1px solid #0A83EA;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.new-counter input.quantity-num {
    border-radius: 0;
    border: none;
    width: 30px;
    padding: 0;
    outline: none;
    color: #0A83EA;
    font-size: 15px;
    line-height: 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    text-align: center;
    height: 25px;
    box-shadow: none;
    background-color: #F4F9FF;
}
.new-counter button.quantity-arrow-minus,
.new-counter button.quantity-arrow-plus {
    position: unset;
    outline: none;
    cursor: pointer;
    border: none;
    color: #909AB9;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Montserrat-Medium', sans-serif;
    width: 100%;
    float: none;
    height: 100%;
    background-color: #F4F9FF;
    overflow: hidden;
    border-radius: 0 24px 24px 0;
    padding: 0;
}
.new-counter button.quantity-arrow-minus {
    border-radius: 24px 0 0 24px;
}
.new-counter .new-down {
    position: unset;
    padding: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-left: 1px solid #0A83EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-counter label.label-input {
    margin-bottom: 0;
}
.new-down {
    right: 0;
    top: 0;
}
button.quantity-arrow-plus {
    right: 17px;
    top: 10px;
}
.non-veg,
.veg {
    position: relative;
    padding-left: 25px;
}
.non-veg:after,
.veg:after {
    position: absolute;
    content: url("/images/veg.svg");
    top: 0;
    left: 0;
}
.non-veg:after {
    content: url("/images/non-veg.svg");
}
.select-item-inner {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    border-bottom: 1px solid #C0C6D9;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.select-item:last-child .select-item-inner {
    border-bottom: none;
}
.select-item h4 {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #3B4148;
    margin-bottom: 2px;
}
.selected-item-right h4 {
    min-width: 55px;
    text-align: right;
}
.select-item p {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #909AB9;
    margin-bottom: 0;
}
.selected-item-right {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.not-available {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    position: relative;
}
.not-available:after {
    position: absolute;
    content: '';
    z-index: 99;
    top: 0;
    left: 0;
    cursor: default;
    width: 100%;
    height: 100%;
}
.not-available-text {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    background-color: #FFEDED;
    border-radius: 2px;
    padding: 5px 15px 4px 25px;
    margin-bottom: 15px;
}
.not-available-text p {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #909AB9;
    margin-bottom: 0;
}
.not-available-text a {
    font-size: 12px;
    line-height: 14px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #DE5858;
}
.not-available-text a:hover {
    color: #d24444;
}
.apply-offers {
    background-color: #F2F4FA;
    padding: 15px 40px;
}
.apply-offer-header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 5px;
}
.apply-offer-header h3 {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #44566F;
    margin-left: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.apply-offers form label {
    display: none;
    margin-bottom: 0;
}
.apply-offers form .form-group {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 10px;
    border: 1px solid #C0C6D9;
    border-radius: 6px;
    overflow: hidden;
}

.apply-offers form input.form-control {
    width: calc(100% - 80px);
    border: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #71778B;
    padding: 10px 20px 12px;
 }
.apply-offers form input.form-control::placeholder {
    font-size: 13px;
    font-family: 'Montserrat-Regular', sans-serif;
}
.apply-offers form button.form-control {
    width: 80px;
    border: none;
    border-left: 1px solid #C0C6D9;
    border-radius: 0;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #457CD6;
    box-shadow: none;
    padding: 5px 20px;
    transition: all 0.3s ease;
}
.apply-offers form button.form-control:hover {
    color: #2559af;
}
.apply-offers form button.form-control:disabled {
    color: #909AB9;
    background-color: #FFFFFF;
}
.pricing h3,
.pricing p,
.pricing h4 {
    width: 100%;
}
.pricing h3 span,
.pricing p span,
.pricing h4 span {
    float: right;
    padding-left: 10px;
}
.pricing h3{
    border-top: 1px solid #C0C6D9;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #457CD6;
    margin: 10px 0 15px 0;
    padding-top: 5px;
}
.pricing h4 {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #3B4148;
    margin-bottom: 5px;
}
.pricing p {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #44566F;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.suggestion h4 {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #44566F;
    margin-bottom: 10px;
}
.suggestion textarea.form-control {
    height: 60px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #71778B;
    border: none;
    padding: 10px 15px;
}
.suggestion textarea.form-control::placeholder {
    font-size: 12px;
    line-height: 16px;
    color: #71778B;
}
.apply-offers .suggestion form .form-group {
    margin-bottom: 0;
    border: 1px solid #71778B;
}
.disclaimer-section {
    background-color: #FAFBFD;
    padding: 15px 40px 10px 40px;
    border-radius: 0 0 20px 20px;
}
.disclaimer-content {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}
.disclaimer-text {
    padding-left: 5px;
}
.disclaimer-text p {
    font-size: 11px;
    line-height: 13px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #71778B;
    margin-bottom: 10px;
}
.disclaimer-text p span.text-bold {
    font-size: 12px;
    font-family: 'Montserrat-Medium', sans-serif;
}
.disclaimer-text p.text-red {
    font-size: 12px;
    color: #DE5858;
    margin-bottom: 20px;
}
.proceed-button {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    margin-bottom: 15px;
}
.proceed-button a {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #283350;
    min-width: 260px;
    height: 40px;
    background-color: #FBD436;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    transition: all 0.3s ease;
}
.proceed-button a:hover {
    background-color: #f3c91e;
}
/*Checkout Address*/
.address-header {
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    margin-bottom: 20px;
}
.address-header.personal-detail{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}
.address-left {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    width: 100%;
}
.address-text {
    padding: 0 10px;
    width: 100%;
}
.address-text h2 {
    font-size: 20px;
    line-height: 18px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #293250;
    margin-bottom: 5px;
}
.address-text h3 {
    color: #3B4148;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    margin: 10px 0;
}
.address-text p {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #3B4148;
    margin-bottom: 0;
}
.personal-detail .address-text p{
    font-size: 15px;
}
.personal-detail .address-text span{
    font-family: 'Montserrat-Regular', sans-serif;
}
.verified-no{
    margin-top: 10px;
}
.verify-no{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.not-verified {
    background-color: #FFF2F2;
    max-width: 240px;
    margin: 5px 0 0;
}
.not-verified p {
    font-size: 10px!important;
    padding: 5px 20px 5px 40px;
    line-height: 14px;
    color: #FF7A7A;
    font-family: 'Montserrat-Regular', sans-serif;
    position: relative;
}
.not-verified p::before{
    position: absolute;
    top: 3px;
    left: 20px;
    content: url("/images/new-exc-icon.svg");
}
.address-text .verified-content {
    position: relative;
    font-size: 14px;
    line-height: 15px;
    color: #26D07C;
    font-family: 'Montserrat-Medium';
}
.verified-content{
    display:block;
}
.verified-content::before{
    position: absolute;
    top: 0;
    left: -20px;
    content: url("/images/verify-icon.svg");
}
.verify-btn {
    border-radius: 20px;
    margin: 20px 0 0;
    background-color: #FFD438;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    cursor: pointer;
}
.verify-btn a {
    font-size: 14px;
    line-height: 18px;
    color: #283350;
    font-family: 'Montserrat-Medium', sans-serif;
}
.add-button a {
    font-size: 14px;
    line-height: 16px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #0A83EA;
    min-width: 96px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    transition: all 0.3s ease;
    padding: 4px 14px;
    border: 1px solid #C0C6D9;
}
.add-button a:hover {
    border: 1px solid #0A83EA;
}
.address-item [type="radio"]:checked + label:before,
.address-item [type="radio"]:not(:checked) + label:before {
    top: 0;
}
.address-item [type="radio"]:checked + label:after,
.address-item [type="radio"]:not(:checked) + label:after {
    top: 4px;
}
.address-item [type="radio"]:checked + label,
.address-item [type="radio"]:not(:checked) + label {
    padding-left: 25px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #3B4148;
}
.address-outer {
    padding-left: 40px;
    padding-right: 10px;
}
.address-item {
    border-bottom: 1px solid #C0C6D9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.address-item:last-child {
    border-bottom: none;
    padding-bottom: 25px;
    margin-bottom: 0;
}
.address-actions {
    padding: 15px 0 0;
}
.address-actions a.deliver-here {
    background-color: #FBD436;
}
.address-actions a.edit{
    background-color: #FFFFFF;
    color: #0A83EA;
    border: 1px solid #C0C6D9;
}
.address-actions a {
    font-size: 14px;
    line-height: 15px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #283350;
    text-decoration: underline !important;
    margin-right: 20px;
    padding: 5px 20px;
    border-radius: 14px;
    text-decoration: none!important;
}


.address-actions a:last-child {
    margin-right: 0;
}
.delivery-address {
    margin-bottom: 20px;
}
/*Payment Section*/
.payment .address-text p {
    font-size: 15px;
    font-family: 'Montserrat-Regular', sans-serif;
}
.payment .address-header {
    margin-bottom: 15px;
}
.payment-item {
    background-color: #FFFFFF;
    margin-bottom: 5px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0 20px 0 25px;
    border: 1px solid #C0C6D9;
    border-radius: 10px;
}
.payment-options {
    padding: 0 10px 0 40px;
    margin-bottom: 25px;
}
.payment-item [type="radio"]:checked + label,
.payment-item [type="radio"]:not(:checked) + label {
    font-size: 12px;
    color: #3B4148;
    width: 100%;
    padding: 8px 10px 8px 30px;
    font-family: 'Montserrat-Medium', sans-serif;
}
.payment-item [type="radio"]:checked + label span,
.payment-item [type="radio"]:not(:checked) + label span{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #71778B;
}
.payment-item.delivery-item:first-child {
    border-right: 1px solid #C6CAD9;
    border-radius: 0;
}
.payment-select {
    width: 100%;
}
.payment-item [type="radio"]:not(:checked) + label:before {
    border: 1px solid #44566F;
    background: transparent;
}
.label-img {
    cursor: pointer;
    margin-bottom: 0;
    padding: 15px 0;
}
.not-available .selected-item-right,
.not-available .selected-item-left {
    filter: opacity(30%);
}
/*Popup*/
.address-modal .modal-header {
    justify-content: center;
    -webkit-justify-content: center;
    padding: 20px 20px 10px;
    border-bottom: none;
}
.address-modal .close {
    border-radius: 50%;
    position: absolute;
    right: 20px;
    opacity: 1;
    top: 20px;
    width: 17px;
    height: 17px;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    background-color: #FFFFFF;
}
.address-modal .modal-content {
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 6px #00000029;
}
.address-modal {
    z-index: 9999;
}
.address-modal .modal-body.delete-body {
    text-align: center;
    padding: 60px 20px;
}
.delete-body img {
    margin-bottom: 30px;
}
.delete-body p {
    font-size: 20px;
    line-height: 22px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #3B4148;
    margin-bottom: 50px;
}
.delete-body .address-buttons {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.delete-body .address-buttons a {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #283350;
    padding: 10px 50px;
    margin-right: 30px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: #FFD438;
}
.delete-body .address-buttons a:hover {
    background-color: #f3c91e;
}
.delete-body .address-buttons a:last-child {
    margin-right: 0;
    background-color: #DCDFE8;
}
.delete-body .address-buttons a:last-child:hover {
    background-color: #d4d5d8;
}
.google-map {
    width: 100%;
    height: 180px;
}
.address-modal .modal-body {
    padding: 0 20px 20px;
}
.address-modal .modal-header h2 {
    font-size: 20px;
    line-height: 18px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #293250;
    text-transform: capitalize;
}
.address-form {
    padding-top: 20px;
}
.address-form form label {
    display: none;
}
.address-form form .form-group.location-data {
    margin-bottom: 15px;
    position: relative;
}
.address-form form .form-group {
    margin-bottom: 10px;
}
.address-form form input.form-control {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #3B4148;
    border-radius: 24px;
    border: 1px solid #909AB9;
    box-shadow: none;
    height: 45px;
    padding: 10px 20px;
}
.address-form form .form-group.location-data input.form-control {
    padding: 10px 100px 10px 40px;
}
.form-row.custom-form-row {
    justify-content: center;
    -webkit-justify-content: center;
}
.form-row.custom-form-row .form-group {
    margin-right: 55px;
}
.form-row.custom-form-row .form-group:last-child {
    margin-right: 0;
}
.address-form form .proceed-button {
    margin-bottom: 0;
}
.location-data img.checkmark_img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.location-data a.change-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #457CD6;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Montserrat-Medium', sans-serif;
    transition: all 0.3s ease;
}
.location-data a.change-button:hover {
    text-decoration: underline !important;
}
.address-form [type="radio"]:checked + label,
.address-form [type="radio"]:not(:checked) + label {
    font-size: 16px;
    line-height: 22px;
    color: #283350;
    padding-left: 22px;
}
.address-form form input.form-control::placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #909AB9;
}
.address-form form .proceed-button a.disabled {
    color: #FFFFFF;
    background-color: #DCDFE8;
}
.high-google-map.google-map {
    height: 350px;
    border-radius: 10px;
}
.set-delivery-location .address-form form .form-group.location-data {
    margin: 15px auto 35px auto;
}
.change-location .address-form {
    padding-top: 5px;
}
.change-location.address-modal .close {
    right: auto;
    left: 20px;
}
.use-location-content {
    padding: 0 0 0 40px;
}
.use-location-content a.use-current-location {
    color: #0A83EA;
    font-size: 15px;
    line-height: 13px;
    font-family: 'Montserrat-Medium', sans-serif;
    transition: all 0.3s ease;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 5px 0;
    margin-bottom: 15px;
}
.use-location-content a.use-current-location:hover {
    color: #457CD6;
}
.use-location-content a.use-current-location img {
    margin-right: 10px;
}
.near-locations h3 {
    font-size: 15px;
    line-height: 13px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #283350;
    margin-bottom: 15px;
}
.near-location-item {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
}
.location-results li:last-child,
.near-location-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.near-location-item img {
    margin-right: 10px;
}
.near-location-content h4 {
    font-size: 15px;
    line-height: 12px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #3B4148;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.near-location-content p {
    font-size: 13px;
    line-height: 19px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #70737C;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.change-location .address-form form .form-group.location-data {
    margin-bottom: 10px;
}
.change-location .modal-content {
    min-height: 580px;
}
.change-location .address-form form .proceed-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 25px;
}
.nearby-location-inner {
    max-height: 300px;
    overflow: auto;
    padding-right: 10px;
    margin-bottom: 70px;
}
.location-results h4 {
    font-size: 15px;
    line-height: 22px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #283350;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}
.location-results p {
    font-size: 13px;
    line-height: 22px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #71778B;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.location-results li {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.location-results {
    max-height: 380px;
    overflow: auto;
    padding: 0 10px 0 40px;
    margin-bottom: 60px;
}
.close-back:after {
    position: absolute;
    top: calc(50% - 6px);
    left: 5px;
    content: '';
    border: solid #44566F;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    cursor: pointer;
}
.phone-modal .modal-body h2 {
    font-size: 20px;
    line-height: 18px;
    font-family: 'Montserrat-SemiBold';
    padding: 25px 0 30px;
}
.mobile-no-field{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mobile-no-field .form-control {
    width: 300px;
}
.mobile-no-field label{
    left: 65px!important;
}
.otp-btn{
    margin: 40px auto 25px auto;
}
/*if phone no is not entered*/
#otp-fade-btn {
    background-color: #DCDFE8!important;
    color: #FFFFFF!important;
    cursor: unset;
}
.add-new-address-box button {
    border-radius: 10px;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    line-height: 15px;
    color: #0A83EA;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    font-family: 'Montserrat-Medium';
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.delivery-address-head{
    margin-bottom: 15px;
}
.address-item p {
    color: #3B4148;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 18px;
}
.address-item h6 {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat-SemiBold';
    color: #283350;
    margin-bottom: 5px;
}
.address-item.add-new-item {
    background-color: #ffffff;
    border: 1px solid #C0C6D9;
    border-radius: 10px;
    padding-bottom: 0;
}
.address-element {
    display: none;
    padding: 10px 20px 20px;
    border-bottom: 1px solid #C0C6D9;
}
.change-btn{
    display: none;
}
.mobile-no-field .form-control::placeholder,.mobile-no-field .form-control{
    text-align: center;
}






@media(min-width: 576px) {
    .address-modal.delete-modal .modal-dialog {
        min-width: 580px;
    }
}
@media(max-width: 1023px) {
    .empty-cart p {
        font-size: 18px;
        line-height: 26px;
    }
    .cart-body {
        padding: 30px 50px;
    }
    .cart-details {
        padding: 15px 30px 5px 30px;
    }
    .disclaimer-section {
        padding: 15px 30px 10px 30px!important;
    }
    .apply-offers {
        padding: 15px 30px!important;
    }
    .cart-left h2,.checkout-header h2 {
        font-size: 18px;
    }
    .address-text h2 {
        font-size: 18px;
    }
    .address-text h3{
        font-size: 16px;
    }
    .preferred-time p,
    .cart-left-content .cart-details-header p {
        font-size: 13px;
        line-height: 15px;
    }
    .cart-left-content h3 {
        font-size: 15px;
        line-height: 17px;
    }
    .suggestion textarea.form-control {
        font-size: 13px;
        line-height: 17px;
    }
    .time-item [type="radio"]:checked + label,
    .time-item [type="radio"]:not(:checked) + label,
    .payment .address-text p,
    .address-actions a,
    .add-button a,
    .select-item h4,
    .address-item [type="radio"]:checked + label,
    .address-item [type="radio"]:not(:checked) + label,
    .address-text p {
        font-size: 13px;
    }
    .apply-offers form button.form-control,
    .proceed-button a,
    .pricing h4,
    .apply-offer-header h3 {
        font-size: 14px;
    }
    .pricing p {
        font-size: 12px;
    }
    .pricing h3 {
        font-size: 15px;
    }
    .apply-offers form input.form-control {
        font-size: 15px;
        line-height: 15px;
    }
}
@media(max-width: 991px) {
    .proceed-button a {
        min-width: 230px;
    }
}
@media(max-width: 767px) {
    .custom-row .col-lg-6 {
        padding: 0 15px;
    }
    .custom-row {
        margin: 0 -15px;
    }
    .cart-left a:before {
        left: 20px;
    }
    .cart-left h2 {
        padding-left: 25px;
    }
    a.back-to-restaurant {
        left: -15px;
    }
    .checkout-header h2 {
        margin: 30px 15px 10px;
    }
}
@media(max-width: 575px) {
    .back-button a {
        font-size: 14px;
        line-height: 16px;
        min-width: 200px;
    }
    .empty-cart p {
        font-size: 15px;
        line-height: 19px;
    }
    .empty-cart img {
        max-width: 200px;
    }
    .empty-cart {
        padding: 30px 30px 50px 30px;
    }
    .cart-body {
        padding: 30px 15px;
    }
    .apply-offers {
        padding: 15px 15px 5px!important;
    }
    .cart-details {
        padding: 15px 15px 5px;
    }
    .disclaimer-section {
        padding: 15px 15px 10px 15px!important;
    }
    .payment-item {
        padding: 0 15px;
    }
    .payment-item [type="radio"]:checked + label,
    .payment-item [type="radio"]:not(:checked) + label {
        padding: 10px 10px 10px 30px;
    }
    .label-img {
        padding: 10px 0;
    }
    .new-counter button.quantity-arrow-minus,
    .new-counter button.quantity-arrow-plus {
        line-height: 20px;
    }
    .new-counter .new-down,
    .new-counter .new-up {
        width: 20px;
        height: 20px;
    }
    .new-counter input.quantity-num {
        width: 25px;
        font-size: 13px;
        line-height: 15px;
        height: 20px;
    }
    .selected-item-right h4 {
        min-width: 52px;
    }
    .apply-offers form input.form-control {
        font-size: 14px;
        line-height: 14px;
        padding: 5px 10px;
    }
    .apply-offers form button.form-control {
        font-size: 13px;
        padding: 5px 10px;
    }
    .address-actions {
        padding: 10px 0 0 0;
    }
    .address-actions a {
        margin-right: 30px;
    }
    .proceed-button a {
        font-size: 13px;
    }
    /*Popup*/
    .delete-body p {
        font-size: 18px;
        line-height: 20px;
    }
    .location-data a.change-button {
        right: 15px;
        font-size: 14px;
        line-height: 20px;
    }
    .address-form form input.form-control {
        height: 35px;
        padding: 5px 15px;
        font-size: 14px;
        line-height: 20px;
    }
    .address-form [type="radio"]:checked + label,
    .address-form [type="radio"]:not(:checked) + label {
        font-size: 14px;
        line-height: 20px;
    }
    .address-form form .form-group.location-data input.form-control {
        padding: 5px 80px 5px 35px;
    }
    .google-map {
        height: 150px;
    }
    .address-modal .modal-header h2 {
        font-size: 18px;
    }
    .form-row.custom-form-row .form-group {
        margin-right: 40px;
    }
    .address-form form .proceed-button a {
        min-width: 220px;
        height: 35px;
    }
    .address-form form input.form-control::placeholder {
        font-size: 12px;
        line-height: 20px;
    }
    .set-delivery-location .address-form form .form-group.location-data {
        margin: 0 auto 20px auto;
    }
    .high-google-map.google-map {
        height: 300px;
    }
    .use-location-content {
        padding: 0 0 0 35px;
    }
    .nearby-location-inner {
        max-height: 250px;
        padding-right: 5px;
        margin-bottom: 60px;
    }
    .change-location .address-form form .proceed-button {
        bottom: 20px;
    }
    .change-location .modal-content {
        min-height: auto;
    }
    .location-results {
        max-height: 300px;
        padding: 0 5px 0 35px;
    }
    .verify-no {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .add-button.verify-now {
        margin: 10px 0 5px;
    }
    .verify-btn {
        margin: 15px 0 0;
    }
    .personal-detail .address-text p {
        font-size: 14px;
    }
    .verify-btn {
        height: 35px;
    }
    .verified-content::before {
        top: 9px;
        left: 0;
    }
    .address-text .verified-content{
        padding: 10px 0 0 20px;
    }
    .phone-modal .modal-body h2 {
        font-size: 18px;
        line-height: 16px;
        padding: 20px 0 25px;
    }
    .login-modal .modal-body .form-group {
        margin-bottom: 15px;
    }
}
@media(max-width: 400px) {
    .apply-offers {
        padding: 15px 10px 5px!important;
    }
    .cart-details {
        padding: 15px 10px 5px;
    }
    .cart-body {
        padding: 30px 5px;
    }
    /* .toggle-item [type="radio"]:checked + label,
    .toggle-item [type="radio"]:not(:checked) + label, .toggle-item label {
        padding: 7px 10px 6px 44px;
    }
    .toggle-item [type="radio"]:checked + label.store-pick:before,
    .toggle-item [type="radio"]:checked + label.delivery:before,
    .toggle-item label.store-pick:before,
    .toggle-item label.delivery:before {
        left: 10px;
    } */
    .selected-item-right {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .new-counter.quantity-block {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .disclaimer-section {
        padding: 15px 10px 10px 10px!important;
    }
    .proceed-button a {
        min-width: 215px;
        height: 35px;
    }
    .delivery-address {
        padding: 0;
    }
    .address-outer {
        padding-left: 10px;
    }
    .payment .address-header,
    .payment-options {
        padding: 0;
    }
    
    .custom-row {
        margin: 0 -5px;
    }
    .custom-row .col-lg-6 {
        padding: 0 5px;
    }
    .cart-left a:before {
        left: 15px;
    }
    .cart-left h2 {
        padding-left: 30px;
    }
    .not-available-text p {
        font-size: 11px;
        line-height: 16px;
    }
    .not-available-text a {
        font-size: 11px;
        line-height: 13px;
    }
    .apply-offers form input.form-control::placeholder {
        font-size: 12px;
    }
    .apply-offers form button.form-control {
        width: 70px;
    }
    .apply-offers form input.form-control {
        width: calc(100% - 70px);
    }
    .address-text h2 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 2px;
    }
    .address-text h3{
        font-size: 14px;
        line-height: 16px;
    }
    .address-left img {
        max-width: 25px;
        height: auto;
    }
    .add-button a {
        min-width: 80px;
        font-size: 12px;
        padding: 4px 8px;
    }
    .address-text {
        padding: 0 5px;
    }
    .selected-item-right h4 {
        margin-bottom: 0;
    }
    /*Popup*/
    .delete-body p {
        font-size: 16px;
    }
    .delete-body .address-buttons a {
        margin-right: 15px;
    }
    .address-modal .modal-body {
        padding: 0 15px 20px;
    }
    .address-modal .close {
        right: 15px;
    }
    .location-results {
        padding: 0 5px 0 15px;
    }
    .address-modal .modal-header h2 {
        font-size: 16px;
    }
    .address-modal .modal-header {
        padding: 20px 15px 10px;
    }
    .use-location-content {
        padding: 0 0 0 10px;
    }
    .change-location.address-modal .close {
        left: 15px;
    }
    a.back-to-restaurant {
        left: -5px;
    }
    .payment-item.delivery-item img{
        display: none;
    }
    .payment-item [type="radio"]:checked + label, .payment-item [type="radio"]:not(:checked) + label {
        padding: 5px 10px 5px 25px;
    }
    .personal-detail .address-text p {
        font-size: 13px;
        line-height: 16px;
    }
    .not-verified p {
        padding: 5px 10px 5px 30px;
    }
    .not-verified p::before {
        left: 10px;
    }
    .address-actions a.deliver-here {
        margin-right: 10px;
    }
    .address-element {
        padding: 10px 10px 15px;
    }
    .phone-modal .modal-body h2 {
        font-size: 16px;
        line-height: 14px;
        padding: 15px 0 20px;
    }
    .add-new-address-box button {
        padding: 5px 10px;
        height: 35px;
    }
}
