header.custom-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #2a3251;
}
.header-logo {
    margin-right: 90px;
}
.header-right {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.header-right li {
    margin-left: 15px;
    position: relative;
}
.header-right li img{
    padding-right: 5px;
}
.header-right li a {
    font-size: 15px;
    line-height: 18px;
    font-family: Montserrat-Regular, sans-serif;
    color: #FFFFFF;
    padding: 5px 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.header-right li:last-child a {
    padding-right: 0;
}
.custom-header .navbar {
    padding: 25px 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.header-actions {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.search-container {
    position: relative;
    transition: all .5s;
    border-radius: 20px;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
    height: 35px;
}
.search-container .form-field {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 35px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 15px;
    line-height: 18px;
    border-radius: 20px;
    padding: 0;
    background: #FFFFFF;
    font-family: Montserrat-Regular, sans-serif;
    color: #2a3251;
    transition: width 0.2s linear;
}
.search-container .form-field::placeholder {
    color: #909AB9;
}
.search-container.active {
    width: 515px;
    cursor: pointer;
    left: auto;
    right: 0;
}
.search-container.active .form-field {
    width: 100%;
    padding: 0 15px;
}
.search-container.active span {
    display: none;
}
.search-container.active .search {
    width: auto;
}
.search-container .search {
    padding: 10px 20px;
    width: 120px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    transition: all .5s;
    background-color: #FFD438;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.search-container .search:hover {
    opacity: 0.9;
}
.search-container .search span {
    color: #293250;
    font-size: 15px;
    line-height: 18px;
    font-family: Montserrat-Medium, sans-serif;
    padding-right: 10px;
}
ul.location-search {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    position: relative;
}
li.search-li {
    position: absolute;
    right: -125px;
    left: auto;
}
.search-li label,
.select-li label {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}
.location-search .select-field:after {
    width: 0;
    height: 0;
    position: absolute;
    top: 33%;
    right: 20px;
    content: "";
    border: solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    transition: all .5s;
    cursor: pointer;
}
.location-search.show .select-field:after {
    -webkit-transform: translateY(45%) rotate(224deg);
    transform: translateY(45%) rotate(224deg);
}
/*Custom select*/
.select-field {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 35px;
    width: 390px;
    border-radius: 20px;
    padding: 5px 10px;
    -webkit-box-align: center;
    align-items: center;
    background-color: #575F7C;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
}
.outer-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    cursor: pointer;
}
.location-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 20px;
    height: 20px;
}
.select-field input {
    border: none;
    font-size: 15px;
    margin: 0 10px 0 10px;
    outline: none;
    background-color: #575F7C;
    line-height: 18px;
    color: #FFFFFF;
    font-family: Montserrat-Regular, sans-serif;
    width: calc(100% - 40px);
}
.select-field input::placeholder {
    color: #FFFFFF;
    font-family: Montserrat-Light, sans-serif;
}
.select-menu {
    width: 515px;
    max-height: 200px;
    background: white;
    border-radius: 20px;
    position: absolute;
    left: 0;
    overflow: auto;
    border: 1px solid #cfcfcf;
    box-shadow: 0 2px 8px #1c1c1c14;
    top: 40px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease 0s, top 0.25s ease 0s;
    z-index: 10;
}
.select-menu.dropdown-menu {
    float: unset;
    min-width: unset;
    padding: 0;
    margin: 0;
    font-size: unset;
    color: unset;
    text-align: unset;
    list-style: none;
}
.select-li.dropdown-toggle::after {
    display: none;
}
.select-menu .inner-content {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: #e8e8e8 0 -0.5px 0 inset;
    padding: 15px 30px;
}
.recent-location {
    padding: 15px 30px 0;
    font-size: 20px;
    color: #2a3251;
    text-align: left;
    font-family: Montserrat-SemiBold, sans-serif;
}
.current-location {
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.current-location p {
    line-height: 26px;
    padding-left: 15px;
    color: #0A83EA;
    font-size: 20px;
    font-family: Montserrat-SemiBold, sans-serif;
    text-align: left;
}
.using-gps {
    line-height: 18px;
    margin: 0 0 0 30px;
    font-size: 15px;
    color: #9c9c9c;
    text-align: left;
    font-family: Montserrat-Medium, sans-serif;
}
.inner-content:hover,
.recent-location-inner:hover {
    background: #f8f8f8;
}
.recent-location-inner {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: #e8e8e8 0 -0.5px 0 inset;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 30px;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.location-content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 15px;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.clock-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 15px;
    height: 15px;
}
.location-name {
    font-size: 15px;
    font-family: Montserrat-Regular, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 18px;
    color: #2a3251;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.location-content em,
.current-location em {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.cart {
    position: relative;
}
.cart-qty {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #26D07C;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.cart-qty span {
    color: #2A3251;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 10px;
    line-height: 11px;
}
/*Mobile Search*/
.search-outer {
    position: sticky;
    background: #2a3251;
    top: 10px;
    z-index: 1111;
    padding: 5px 0;
    transition: top 0.5s ease-in-out 0s, z-index 0.5s ease-in-out 0s;
}
.search-inner {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    height: auto;
    box-shadow: #1c1c1c0f 0 1px 4px;
    padding: 5px 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.select-outer {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    max-width: calc(100% - 50px);
    padding: 10px 0;
    display: -webkit-flex;
}
.select-inner {
    display: flex;
    display: -webkit-flex;
}
.select-placeholder {
    font-size: 15px;
    line-height: 25px;
    max-width: calc(100vw - 80px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    font-family: Montserrat-Medium, sans-serif;
    color: #FFFFFF;
}
.select-placeholder span {
    font-family: Montserrat-Light, sans-serif;
}
.search-icon-outer {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    background-color: #FFD438;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #2a3251 0 0 12px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.search-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 17px;
    height: 17px;
}



@media(min-width: 1024px) {
    .search-outer {
        display: none;
    }
}
@media(max-width: 1023px) {
    ul.location-search {
        display: none;
    }
    .header-actions {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }
    .custom-header .navbar {
        padding: 15px 0;
    }
    .select-outer {
        padding: 5px 0;
    }
    .search-icon {
        width: 14px;
        height: 14px;
    }
    .search-icon-outer {
        height: 35px;
        width: 35px;
    }
    /*outer-search*/
    .material-textfield {
        position: relative;
    }
    .search-popup .modal,.address-popup .modal {
        z-index: 9999;
        background: #00000080;
    }
    .search-popup .material-textfield label.text-label {
        position: absolute;
        font-size: 14px;
        line-height: 16px;
        font-family: 'Montserrat-Light', sans-serif;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: gray;
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: .1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }
    .search-popup input, .address-popup input {
        box-shadow: none!important;
        font-size: 14px;
        line-height: 25px;
        font-family: Montserrat-Regular, sans-serif;
        height: 35px;
        outline: none;
        border: 1px solid #909AB9;
        border-radius: 5px;
        padding: 5px 20px 5px 40px;
        color: #3B4148;
        transition: 0.1s ease-out;
    }
    .search-popup input:focus {
        border-color: #666666;
    }
    .search-popup input:focus + label.text-label {
        color: #666666;
        top: 0;
        transform: translateY(-50%) scale(.9);
    }
    .search-popup input:not(:placeholder-shown) + label.text-label {
        top: 0;
        transform: translateY(-50%) scale(.9);
    }
    .search-popup input:focus::placeholder,.search-popup input::placeholder {
        color: transparent;
    }
    .search-popup .modal-dialog,.address-popup .modal-dialog {
        max-width: 500px;
        margin: 15px auto;
        width: 100%;
    }
    .search-popup .search-icon, .address-popup .search-icon {
        position: absolute;
        top: 11px;
        left: 15px;
        z-index: 1;
    }
    .search-popup .modal-header {
        display: flex;
        justify-content: flex-start;
        border-bottom: 0;
        padding: 30px 15px 15px;
        display: -webkit-flex;
        -webkit-justify-content: flex-start;
    }
    .location-guide{
        max-width: calc(100% - 60px);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .location-guide .fa-caret-down:before {
        content: "\f0d7";
        font-size: 20px;
        line-height: 30px;
        color: #151929;
        padding-left: 10px;
    }
    .restaurant-info {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 15px;
        border-bottom: 1px solid #909ab9;
        margin-bottom: 15px;
    }
    .restaurant-info:last-child{
        padding-bottom: 0;
        border-bottom: none;
    }
    .search-list-img {
        max-width: 80px;
        border-radius: 10px;
        margin-right: 15px;
        object-fit: cover;
        height: auto;
    }
    .search-popup .close span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        font-size: 40px;
        line-height: 25px;
    }
    .resto-detail .food-desc {
        text-align: left;
    }
    .location-guide a {
        font-size: 16px;
        line-height: 18px;
        font-family: 'Montserrat-Medium',sans-serif;
        color: #283350;
    }
    .location-guide a::after {
        width: 0;
        height: 0;
        position: relative;
        top: -4px;
        right: -15px;
        content: "";
        border: solid #283350;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(45deg);
        transition: all .5s;
    }
    .search-popup .close, .address-popup .close {
        border-radius: 50%;
        position: absolute;
        right: 5px;
        opacity: 1 !important;
        top: 5px;
        width: 34px;
        height: 34px;
        padding: 10px !important;
        margin: 0 !important;
        display: flex;
        background-color: #FFFFFF;
    }
    .address-popup input:focus {
        border: 1px solid #575f7c;
    }
    .address-popup h2 {
        font-size: 22px;
        line-height: 27px;
        color: #283350;
        font-family: Montserrat-Bold, sans-serif
    }
    .address-popup .modal-header {
        padding: 30px 15px 15px;
        border-bottom: 0;
    }
    .recent-location-outer {
        max-height: calc(100vh - 300px);
        overflow: auto;
    }
    .resto-list .card {
        max-height: calc(100vh - 200px);
        overflow: auto;
        border: none;
    }
    .detect-location .inner-content {
        padding: 15px 0;
        border-bottom: 1px solid #f8f8f8;
    }
    .address-popup .recent-location {
        padding-left: 0;
    }
    .search-popup .modal-body,
    .address-popup .modal-body {
        padding: 0 15px 15px 15px;
    }
    .resto-list .card-body {
        padding: 0;
    }
    .resto-list .food-desc {
        border-bottom: none;
    }
    .recent-location {
        padding: 15px 0 0;
    }
    .recent-location-inner {
        padding: 10px 0;
    }
}
@media(max-width: 767px) {
    .search-inner {
        padding: 5px 15px;
    }
}
@media(max-width: 575px) {
    .header-right a span {
        display: none;
    }
    .header-right a .cart-qty span {
        display: block;
    }
    .header-right li {
        margin-left: 10px;
    }
    .header-right li a {
        padding: 5px;
    }
    .search-outer {
        top: 5px;
    }
    /*outer-header*/
    .search-popup .modal-dialog,.address-popup .modal-dialog {
        max-width: 100%;
        margin: 60px 0 0 0;
        width: auto;
    }
    .search-popup .modal-content,
    .address-popup .modal-content {
        border: none;
        height: 100vh;
    }
}
@media(max-width: 400px) {
    /*outer-header*/
    .search-popup .material-textfield label.text-label {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .address-popup h2 {
        font-size: 18px;
        line-height: 22px;
    }
    .location-search-form .form-group.material-textfield {
        margin-bottom: 0;
    }
    .detect-location .current-location p,.detect-location .recent-location {
        line-height: 24px;
        font-size: 16px;
    }
    .detect-location .recent-location-inner {
        padding: 10px 0;
    }
    .detect-location .search-popup input, .detect-location .address-popup input {
        height: 45px;
    }
}
