/*header-sec*/
.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 25px;
}

.filter-box ul {
    display: flex;
}

.filter-box li {
    padding: 5px 15px;
    border: 1px solid #909AB9;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}
.filter-box li.active {
    background-color: #0A83EA;
}
.filter-box li.active a{
    color: #ffffff;
}
.filter-box li a {
    font-size: 14px;
    line-height: 18px;
    color: #404040;
    font-family: Montserrat-Regular, sans-serif;
}

.filter {
    margin-right: 0 !important;
    background-color: #F4F4F4;
}

.filter span {
    padding-left: 10px;
}

.resto-count h2 {
    font-size: 30px;
    line-height: 18px;
    color: #404040;
    font-family: Montserrat-Bold, sans-serif;
}

/*overflow*/
.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    width: 3px;
    background-color: #EBEBEB;
    border: 1px solid #FFFFFF;
}

.frame::-webkit-scrollbar:horizontal {
    height: 3px;
    background-color: #EBEBEB;
    border: 1px solid #FFFFFF;
}

.frame::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 20px;
    height: 5px;
}

.custom-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.custom-scroll::-webkit-scrollbar:horizontal {
    height: 3px;
    background-color: #EBEBEB;
    border: 1px solid #FFFFFF;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 20px;
    height: 5px;
}

.food-list.row {
    max-height: 700px;
    overflow-y: auto;
}


/*white box css*/
.listing-box {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 35px;
}

.food-item {
    position: relative;
}


.food-desc {
    text-align: center;
    padding: 15px 0 10px;
    border-bottom: 1px solid #909AB9;
    background-color: #fff;
}

.food-desc h4 {
    font-size: 16px;
    line-height: 18px;
    color: #283350;
    padding-bottom: 10px;
    font-family: Montserrat-Bold, sans-serif;
}

.food-desc p {
    font-size: 14px;
    line-height: 16px;
    color: #3B4148;
    font-family: Montserrat-Regular, sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 32px;
}

.delivery-detail {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.delivery-time img {
    padding-right: 15px;
}

.delivery-time span {
    padding-left: 15px;
    border-left: 1px solid #707070;
    font-size: 13px;
    line-height: 18px;
    color: #3B4148;
    font-family: Montserrat-Regular, sans-serif;
}

.bg-rating {
    position: relative;
}

.rating-rank {
    position: absolute;
    top: 4px;
    left: -10px;
    transform: translate(50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

p.rating-content {
    padding-left: 3px;
    font-family: Montserrat-Regular, sans-serif;
    color: #283350;
    font-size: 13px;
    line-height: 16px;
}

.food-product {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.food-product:hover {
    border: 1px solid #d3d4d6;
}

.deleted-product {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.food-item img {
    border-radius: 10px;
}

.diamond-pro {
    position: absolute;
    bottom: 0;
    right: 0;
}

.diamond-pro img {
    border-radius: 10px 0;
}


.food-list .col-xl-3.col-lg-3.col-sm-6 {
    padding: 5px;
}

.brand-logo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: none;
}
.brand-logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
    padding: 5px;
    background-color: #ffffff;
}
/*placeholder*/
.white-background {
    background: #FFF;
    width: 100% ;
    height: 230px;
    position: relative;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 0 0 12px #e4eaea;
    overflow: hidden;
  }
  
  .inspirational-background{
      height: 170px;
      background: transparent;
  }
  .top-rated{
      height: 320px !important;
  }
  /*placeholder for listing*/
  .listing-placeholder{
      width: 22.2% !important;
      margin: 0 15px 30px 15px !important;
  }
@keyframes placeHolderShimmer{
    0%{
      background-position: -468px 0
    }
    100%{
      background-position: 468px 0
    }
}
.white-background .gray-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #eae9e9 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  position: absolute;
  height: 15px;
}
.gray-background.inter-crop-img {
    height: 230px;
    border-radius: 0;
    top: 0;
    width: 100%;
    left: 0;
}
.inspirational-background .gray-background.inter-crop-img {
    height: 140px;
    border-radius: 10px;
}
.inspirational-background {
    height: 170px;
    background: transparent;
    border: none;
    box-shadow: none;
}
.top-rated .gray-background.inter-crop-img{
    height: 165px !important;
}
.inter-crop-name,.inter-crop-desc,
.inter-crop-distance,.inter-crop-rating {
    border-radius: 10px;
    top: 146px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.inter-crop-desc {
    top: 210px;
    height: 20px!important;
    width: 90%!important;
}
.inter-crop-distance,.inter-crop-rating {
    top: 280px;
    height: 20px!important;
    width: 35%!important;
    left: 60px;
}
.inter-crop-rating{
    right: -15px;
    width: 20%!important;
    left: auto;
}
.top-rated .inter-crop-name {
    top: 180px !important;
    width: 90%!important;
    height: 20px!important;
}
.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 25px;
}

.filter-box ul {
    display: flex;
}

.filter-box li {
    padding: 5px 15px;
    border: 1px solid #909AB9;
    border-radius: 4px;
    margin-right: 10px;
}

.filter-box li a {
    font-size: 14px;
    line-height: 18px;
    color: #404040;
    font-family: Montserrat-Regular, sans-serif;
}

.filter {
    margin-right: 0 !important;
    background-color: #F4F4F4;
}

.filter span {
    padding-left: 10px;
}
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    min-width: 500px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: none;
}
.modal.right .modal-body {
    padding: 0 20px 0 55px;
}
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.show .modal-dialog {
    right: 0;
}
.modal.right .modal-header {
    padding: 25px 20px 20px 55px;
    border: none;
    display: block;
}
.modal-header button.close{
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 1 !important;
    width: 34px;
    height: 34px;
    padding: 10px !important;
    margin: 0 !important;
    display: flex;
    z-index: 1;
}
.filter-popup .modal-header h2 {
    font-size: 20px;
    line-height: 11px;
    color: #2A3251;
    font-family: 'Montserrat-SemiBold',sans-serif;
}
.filter-popup .modal-body form h4 {
    font-size: 16px;
    line-height: 18px;
    color: #3B4148;
    font-family: 'Montserrat-Medium',sans-serif;
    margin-bottom: 10px;
}
.filter-popup .modal-body form label {
    font-size: 14px;
    line-height: 14px;
    font-family: 'Montserrat-Regular',sans-serif;
    color: #3B4148;
    margin-bottom: 10px;
    padding-left: 20px;
}
.filter-sec{
    margin-bottom: 20px;
}
.filter-popup [type="radio"]:checked + label:before, 
.filter-popup [type="radio"]:not(:checked) + label:before{
    display: none;
}
.filter-popup [type="radio"]:checked + label:after {
    background: url(/images/checked-radio.svg);
}
.filter-popup [type="radio"]:not(:checked) + label:after{
    background: url(/images/unchecked-radio.svg);
}
.filter-popup [type="radio"]:checked + label:after, 
.filter-popup [type="radio"]:not(:checked) + label:after{
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.filter-popup input[type=checkbox]{
    appearance: none;
}
.filter-popup input[type=checkbox] + label{
    padding-left: 0;
    display: flex;
    align-items: center;
}
.filter-popup input[type=checkbox] + label:before {
    content: ""; 
    display: inline-block;
    margin-right: 10px;
    width: 14px; 
    height: 14px;
    background: url(/images/uncheck-checkbox.svg); 
}
.filter-popup input[type=checkbox]:checked + label,.filter-popup [type="radio"]:checked + label{
    font-family: 'Montserrat-Medium',sans-serif;
}
.filter-popup input[type=checkbox]:checked + label:before {
    background: url(/images/checked-checkbox.svg);
}
.filter-action a {
    font-size: 14px;
    line-height: 14px;
    color: #0A83EA;
    font-family: 'Montserrat-Medium',sans-serif;
}
.filter-action button {
    font-size: 14px;
    line-height: 18px;
    color: #2A3251;
    background-color: #FFD438;
    border: none;
    border-radius: 18px;
    height: 35px;
    width: 130px;
    font-family: 'Montserrat-Medium';
    margin-left: 140px;
}
.filter-popup .modal-footer {
    justify-content: flex-start;
    padding: 15px 55px;
}
.filter-popup .modal,.slide-pane__overlay.overlay-after-open {
    z-index: 9990;
    display: block;
}
.cuisines-wrap ul {
    width: 50%;
}
.cuisines-wrap {
    display: flex;
}



/*media queries*/
@media (max-width: 991px) {
    .resto-count h2 {
        font-size: 28px;
        line-height: 16px;
    }

    .filter-section {
        padding: 0 0 20px;
    }

    .food-product {
        margin-bottom: 25px;
        width: 100%;
    }

    .filter-box {
        overflow: auto;
        white-space: nowrap;
        max-width: 390px;
        padding-bottom: 3px;
    }

    .filter span {
        padding-right: 20px;
    }

    .main-section {
        padding-bottom: 0;
    }

    .food-item img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .filter-section {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .food-item img {
        width: 100%;
    }

    .resto-count h2 {
        font-size: 24px;
        line-height: 14px;
        padding-top: 30px;
    }

    .filter-box li {
        padding: 3px 10px;
    }

    .filter-box {
        max-width: 100%;
    }

    .listing-box {
        padding: 30px;
    }


    .filter span {
        padding-right: 0;
    }
}



@media (max-width: 575px) {
    .resto-count h2 {
        font-size: 20px;
        line-height: 12px;
    }

    .listing-box {
        padding: 15px;
    }

    .resto-count h2 {
        font-size: 20px;
        line-height: 10px;
    }

    .delivery-time span {
        padding-left: 10px;
    }

    .delivery-time img {
        padding-right: 10px;
    }

    .filter span {
        padding-right: 20px;
    }

    .food-product {
        width: 100%;
    }

    .food-desc p {
        font-size: 13px;
        line-height: 15px;
        height: auto;
        -webkit-line-clamp: unset;
    }

    .food-desc h4 {
        font-size: 15px;
        line-height: 17px;
    }
}

@media (max-width: 480px) {
    .food-product {
        margin-bottom: 15px;
    }

    .resto-count h2 {
        font-size: 18px;
        line-height: 8px;
        padding-top: 25px;
    }

    .food-list.row {
        max-height: 500px;
    }
}

@media (max-width: 400px) {
    .resto-count h2 {
        font-size: 16px;
        line-height: 8px;
        padding-top: 20px;
    }

    .filter-section {
        padding: 0 0 15px;
    }

}
